albumentations==1.0.3
brotlipy==0.7.0
cvxopt==1.3.0
datasets==2.2.2
easydict==1.9
glob2==0.7
grad-cam==1.3.9
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
olefile==0.46
python-multipart==0.0.5
ruamel-yaml==0.15.87
seaborn==0.11.2
sklearn==0.0.1
torchelastic==0.2.1
wandb==0.12.17
yacs==0.1.8
torch==1.7.1